@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
:root{
  --principal: #edf2f4,
  --principald: #dfe0e0,
  --secundario:#212121,
  --secundariod: #121212,
  --detalled: #e28868,
  --detalle: #d72638,
  --orbit-radius: 160px;
  --circle-item-count: 7;
  --circle-item-index: 0;
}
@media screen and (max-width: 424px) {
  :root{
    --orbit-radius: 130px;
  }
}
p::selection,
i::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection {
  text-shadow: none;
  background-color: #e28868;
  color: #121212
}

/* background: rgb(255,154,162);
background: linear-gradient(90deg, rgba(255,154,162,1) 0%, rgba(255,183,178,1) 20%, rgba(255,218,193,1) 40%, rgba(248,255,165,1) 60%, rgba(182,251,156,1) 80%, rgba(151,239,255,1) 100%); */

.FIREBASE {
  background-color: #ffa714;
}
.SASS {
  background-color: #cd6799;
}
.BOOTSTRAP {
  background-color: #7911f7;
}
.JAVASCRIPT {
  background-color: #d5b92d;
}
.REACT {
  background-color: #61dafb;
}
.TAILWIND {
  background-color: #1bb5b9;
}
@media screen and (min-width: 1280px) {
  .project .projectdiv:nth-child(even) .projecttext {
    margin-right: -5rem;
  }
}

@media screen and (min-width: 640px) {

  .project>.projectdiv:nth-child(even) .projectimg:hover {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
  }
  .project>.projectdiv:nth-child(odd) .projectimg:hover {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
  }
}
.stack:hover > :not(:hover) {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
  opacity: 0.5;
}


.u-grid-center * {
  grid-area: 1 / 1 / 2 / 2;
}
:root{
  --orbit-radius: 160px;
  --circle-item-count: 7;
  --circle-item-index: 0;
}
@media screen and (max-width: 465px) {
  :root{
    --orbit-radius: 110px;
  }
}

.circle-item {
  transform: rotateZ(    calc((360deg / var(--circle-item-count)) * var(--circle-item-index))  )  translateY(calc(var(--orbit-radius) * -1))  rotateZ(    calc((360deg / var(--circle-item-count)) * var(--circle-item-index) * -1)  );

}
.circle-item:nth-child(1) {
  --circle-item-index: 0;
}
.circle-item:nth-child(2) {
  --circle-item-index: 1;
}
.circle-item:nth-child(3) {
  --circle-item-index: 2;
}
.circle-item:nth-child(4) {
  --circle-item-index: 3;
}
.circle-item:nth-child(5) {
  --circle-item-index: 4;
}
.circle-item:nth-child(6) {
  --circle-item-index: 5;
}
.circle-item:nth-child(7) {
  --circle-item-index: 6;
}
.circle-item:nth-child(8) {
  --circle-item-index: 7;
}

.circle-list:hover > :not(:hover) {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
  opacity: 0.5;
}

header::before, footer::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
}
header::before,footer::before{
  background: #000;
  filter: url(#grainy);
  -webkit-filter: url(#grainy);
}
.clouds {
  background-image: url("../../public/Images/Cloudy.svg");
}